In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv("Demand_txn_updated.csv")
print(df.head())

        City Mapped_Sales_Type  Mapped_Item_Code Transaction_Date  \
0  Hyderabad         Take Away              9978        7/31/2018
1  Hyderabad         Take Away              4064        7/31/2018
2  Hyderabad         Main Hall               965        7/31/2018
3  Hyderabad           Express              9978        7/31/2018
4  Hyderabad           Express              1045        7/31/2018

   Quantity_Sold  Median_Price  Average_Tax_Percent  Effective_Price  \
0            167         187.0                 0.05       163.700000
1            368         602.0                 0.05       584.329105
2            694         263.0                 0.05       244.835163
3            140         263.0                 0.05       243.500000
4            139         392.0                 0.05       378.960000

   Percent_Quantity_With_Discount  Avg_Discount_Percent_On_Discounted_Items  \
0                             NaN                                       NaN
1                        0.027237                                      1.05
2                             NaN                                       NaN
3                             NaN                                       NaN
4                             NaN                                       NaN

   ...  Day  Car_sales F_and_B_Inflation  \
0  ...  Tue    7559.28             143.7
1  ...  Tue    7559.28             143.7
2  ...  Tue    7559.28             143.7
3  ...  Tue    7559.28             143.7
4  ...  Tue    7559.28             143.7

   F_and_B_Inflation_Adjusted_Effective_Price  \
0                                    0.832985
1                                    3.760119
2                                    1.397600
3                                    1.388309
4                                    2.330967

   F_and_B_Inflation_Adjusted_Median_Price  First_Week_Of_The_Month_Dummy  \
0                                 0.793319                              0
1                                 3.681280                              0
2                                 1.322199                              0
3                                 1.322199                              0
4                                 2.219903                              0

   Last_Week_Of_The_Month_Dummy  Day_Of_The_Week_Seasonality  \
0                             1                         0.86
1                             1                         0.83
2                             1                         1.08
3                             1                         0.78
4                             1                         0.73

   Month_Of_The_Year_Seasonality  Two_Wheeler_sales
0                           0.91           37307.52
1                           0.91           37307.52
2                           1.08           37307.52
3                           0.08           37307.52
4                           0.08           37307.52

[5 rows x 22 columns]

In [13]:
df['Transaction_Date'] = pd.to_datetime(df['Transaction_Date'])
print(df)

            City Mapped_Sales_Type  Mapped_Item_Code Transaction_Date  \
0      Hyderabad         Take Away              9978       2018-07-31
1      Hyderabad         Take Away              4064       2018-07-31
2      Hyderabad         Main Hall               965       2018-07-31
3      Hyderabad           Express              9978       2018-07-31
4      Hyderabad           Express              1045       2018-07-31
...          ...               ...               ...              ...
30226     Mumbai         Take Away              4056       2016-08-01
30227     Mumbai         Take Away              4058       2016-08-01
30228     Mumbai           Dine-in               964       2016-08-01
30229     Mumbai         Take Away              4066       2016-08-01
30230     Mumbai          Delivery              4061       2016-08-01

       Quantity_Sold  Median_Price  Average_Tax_Percent  Effective_Price  \
0                167         187.0                 0.05       163.700000
1                368         602.0                 0.05       584.329105
2                694         263.0                 0.05       244.835163
3                140         263.0                 0.05       243.500000
4                139         392.0                 0.05       378.960000
...              ...           ...                  ...              ...
30226            615         239.0                 0.14       232.033552
30227           1289         212.8                 0.14       202.575840
30228            140         933.0                 0.21      1063.855517
30229            179         501.0                 0.14       534.060000
30230            117         716.5                 0.15       780.810000

       Percent_Quantity_With_Discount  \
0                                 NaN
1                            0.027237
2                                 NaN
3                                 NaN
4                                 NaN
...                               ...
30226                        0.013889
30227                        0.009338
30228                             NaN
30229                             NaN
30230                             NaN

       Avg_Discount_Percent_On_Discounted_Items  ...  Day  Car_sales  \
0                                           NaN  ...  Tue    7559.28
1                                      1.050000  ...  Tue    7559.28
2                                           NaN  ...  Tue    7559.28
3                                           NaN  ...  Tue    7559.28
4                                           NaN  ...  Tue    7559.28
...                                         ...  ...  ...        ...
30226                                  0.883279  ...  Mon    8033.92
30227                                  1.144999  ...  Mon    8033.92
30228                                       NaN  ...  Mon    8033.92
30229                                       NaN  ...  Mon    8033.92
30230                                       NaN  ...  Mon    8033.92

      F_and_B_Inflation  F_and_B_Inflation_Adjusted_Effective_Price  \
0                 143.7                                    0.832985
1                 143.7                                    3.760119
2                 143.7                                    1.397600
3                 143.7                                    1.388309
4                 143.7                                    2.330967
...                 ...                                         ...
30226             140.1                                    1.342138
30227             140.1                                    1.131876
30228             140.1                                    7.279483
30229             140.1                                    3.497930
30230             140.1                                    5.259172

       F_and_B_Inflation_Adjusted_Median_Price  First_Week_Of_The_Month_Dummy  \
0                                     0.793319                              0
1                                     3.681280                              0
2                                     1.322199                              0
3                                     1.322199                              0
4                                     2.219903                              0
...                                        ...                            ...
30226                                 1.184868                              1
30227                                 0.997859                              1
30228                                 6.138473                              1
30229                                 3.054961                              1
30230                                 4.593148                              1

       Last_Week_Of_The_Month_Dummy  Day_Of_The_Week_Seasonality  \
0                                 1                         0.86
1                                 1                         0.83
2                                 1                         1.08
3                                 1                         0.78
4                                 1                         0.73
...                             ...                          ...
30226                             0                         0.78
30227                             0                         0.78
30228                             0                         0.77
30229                             0                         0.66
30230                             0                         0.61

       Month_Of_The_Year_Seasonality  Two_Wheeler_sales
0                               0.91           37307.52
1                               0.91           37307.52
2                               1.08           37307.52
3                               0.08           37307.52
4                               0.08           37307.52
...                              ...                ...
30226                           0.99           27870.40
30227                           0.99           27870.40
30228                           0.94           27870.40
30229                           0.99           27870.40
30230                           0.89           27870.40

[30231 rows x 22 columns]

In [14]:
df_subset = df[df['Transaction_Date'] > '2016-08-01']
print(df_subset)

            City Mapped_Sales_Type  Mapped_Item_Code Transaction_Date  \
0      Hyderabad         Take Away              9978       2018-07-31
1      Hyderabad         Take Away              4064       2018-07-31
2      Hyderabad         Main Hall               965       2018-07-31
3      Hyderabad           Express              9978       2018-07-31
4      Hyderabad           Express              1045       2018-07-31
...          ...               ...               ...              ...
30187     Mumbai         Take Away              4059       2016-08-02
30188     Mumbai         Main Hall               966       2016-08-02
30189     Mumbai         Take Away              4065       2016-08-02
30190     Mumbai          Delivery              4057       2016-08-02
30191     Mumbai         Take Away              4061       2016-08-02

       Quantity_Sold  Median_Price  Average_Tax_Percent  Effective_Price  \
0                167        187.00                 0.05       163.700000
1                368        602.00                 0.05       584.329105
2                694        263.00                 0.05       244.835163
3                140        263.00                 0.05       243.500000
4                139        392.00                 0.05       378.960000
...              ...           ...                  ...              ...
30187            519        300.00                 0.15       303.790980
30188            369        238.85                 0.21       244.207519
30189            234        510.00                 0.15       544.369268
30190            145        227.00                 0.14       220.330000
30191            216        658.00                 0.15       713.827429

       Percent_Quantity_With_Discount  \
0                                 NaN
1                            0.027237
2                                 NaN
3                                 NaN
4                                 NaN
...                               ...
30187                        0.004902
30188                             NaN
30189                             NaN
30190                             NaN
30191                             NaN

       Avg_Discount_Percent_On_Discounted_Items  ...  Day  Car_sales  \
0                                           NaN  ...  Tue    7559.28
1                                      1.050000  ...  Tue    7559.28
2                                           NaN  ...  Tue    7559.28
3                                           NaN  ...  Tue    7559.28
4                                           NaN  ...  Tue    7559.28
...                                         ...  ...  ...        ...
30187                                  0.114493  ...  Tue    8033.92
30188                                       NaN  ...  Tue    8033.92
30189                                       NaN  ...  Tue    8033.92
30190                                       NaN  ...  Tue    8033.92
30191                                       NaN  ...  Tue    8033.92

      F_and_B_Inflation  F_and_B_Inflation_Adjusted_Effective_Price  \
0                 143.7                                    0.832985
1                 143.7                                    3.760119
2                 143.7                                    1.397600
3                 143.7                                    1.388309
4                 143.7                                    2.330967
...                 ...                                         ...
30187             140.1                                    1.854325
30188             140.1                                    1.429033
30189             140.1                                    3.571515
30190             140.1                                    1.258601
30191             140.1                                    4.781067

       F_and_B_Inflation_Adjusted_Median_Price  First_Week_Of_The_Month_Dummy  \
0                                     0.793319                              0
1                                     3.681280                              0
2                                     1.322199                              0
3                                     1.322199                              0
4                                     2.219903                              0
...                                        ...                            ...
30187                                 1.620271                              1
30188                                 1.183797                              1
30189                                 3.119201                              1
30190                                 1.099215                              1
30191                                 4.175589                              1

       Last_Week_Of_The_Month_Dummy  Day_Of_The_Week_Seasonality  \
0                                 1                         0.86
1                                 1                         0.83
2                                 1                         1.08
3                                 1                         0.78
4                                 1                         0.73
...                             ...                          ...
30187                             0                         0.81
30188                             0                         1.10
30189                             0                         0.86
30190                             0                         0.74
30191                             0                         0.82

       Month_Of_The_Year_Seasonality  Two_Wheeler_sales
0                               0.91           37307.52
1                               0.91           37307.52
2                               1.08           37307.52
3                               0.08           37307.52
4                               0.08           37307.52
...                              ...                ...
30187                           0.99           27870.40
30188                           0.89           27870.40
30189                           0.99           27870.40
30190                           0.89           27870.40
30191                           0.99           27870.40

[30192 rows x 22 columns]

In [15]:
print(df_subset)

            City Mapped_Sales_Type  Mapped_Item_Code Transaction_Date  \
0      Hyderabad         Take Away              9978       2018-07-31
1      Hyderabad         Take Away              4064       2018-07-31
2      Hyderabad         Main Hall               965       2018-07-31
3      Hyderabad           Express              9978       2018-07-31
4      Hyderabad           Express              1045       2018-07-31
...          ...               ...               ...              ...
30187     Mumbai         Take Away              4059       2016-08-02
30188     Mumbai         Main Hall               966       2016-08-02
30189     Mumbai         Take Away              4065       2016-08-02
30190     Mumbai          Delivery              4057       2016-08-02
30191     Mumbai         Take Away              4061       2016-08-02

       Quantity_Sold  Median_Price  Average_Tax_Percent  Effective_Price  \
0                167        187.00                 0.05       163.700000
1                368        602.00                 0.05       584.329105
2                694        263.00                 0.05       244.835163
3                140        263.00                 0.05       243.500000
4                139        392.00                 0.05       378.960000
...              ...           ...                  ...              ...
30187            519        300.00                 0.15       303.790980
30188            369        238.85                 0.21       244.207519
30189            234        510.00                 0.15       544.369268
30190            145        227.00                 0.14       220.330000
30191            216        658.00                 0.15       713.827429

       Percent_Quantity_With_Discount  \
0                                 NaN
1                            0.027237
2                                 NaN
3                                 NaN
4                                 NaN
...                               ...
30187                        0.004902
30188                             NaN
30189                             NaN
30190                             NaN
30191                             NaN

       Avg_Discount_Percent_On_Discounted_Items  ...  Day  Car_sales  \
0                                           NaN  ...  Tue    7559.28
1                                      1.050000  ...  Tue    7559.28
2                                           NaN  ...  Tue    7559.28
3                                           NaN  ...  Tue    7559.28
4                                           NaN  ...  Tue    7559.28
...                                         ...  ...  ...        ...
30187                                  0.114493  ...  Tue    8033.92
30188                                       NaN  ...  Tue    8033.92
30189                                       NaN  ...  Tue    8033.92
30190                                       NaN  ...  Tue    8033.92
30191                                       NaN  ...  Tue    8033.92

      F_and_B_Inflation  F_and_B_Inflation_Adjusted_Effective_Price  \
0                 143.7                                    0.832985
1                 143.7                                    3.760119
2                 143.7                                    1.397600
3                 143.7                                    1.388309
4                 143.7                                    2.330967
...                 ...                                         ...
30187             140.1                                    1.854325
30188             140.1                                    1.429033
30189             140.1                                    3.571515
30190             140.1                                    1.258601
30191             140.1                                    4.781067

       F_and_B_Inflation_Adjusted_Median_Price  First_Week_Of_The_Month_Dummy  \
0                                     0.793319                              0
1                                     3.681280                              0
2                                     1.322199                              0
3                                     1.322199                              0
4                                     2.219903                              0
...                                        ...                            ...
30187                                 1.620271                              1
30188                                 1.183797                              1
30189                                 3.119201                              1
30190                                 1.099215                              1
30191                                 4.175589                              1

       Last_Week_Of_The_Month_Dummy  Day_Of_The_Week_Seasonality  \
0                                 1                         0.86
1                                 1                         0.83
2                                 1                         1.08
3                                 1                         0.78
4                                 1                         0.73
...                             ...                          ...
30187                             0                         0.81
30188                             0                         1.10
30189                             0                         0.86
30190                             0                         0.74
30191                             0                         0.82

       Month_Of_The_Year_Seasonality  Two_Wheeler_sales
0                               0.91           37307.52
1                               0.91           37307.52
2                               1.08           37307.52
3                               0.08           37307.52
4                               0.08           37307.52
...                              ...                ...
30187                           0.99           27870.40
30188                           0.89           27870.40
30189                           0.99           27870.40
30190                           0.89           27870.40
30191                           0.99           27870.40

[30192 rows x 22 columns]

In [16]:
unique_values = df['Mapped_Sales_Type'].unique()
print(unique_values)

['Take Away' 'Main Hall' 'Express' 'Delivery' 'Dine-in' 'Bakery']

In [18]:
df_subset1 = df[df['Avg_Discount_Percent_On_Discounted_Items'] < 1.0]
sanity_check = df_subset1['Avg_Discount_Percent_On_Discounted_Items'] >= 1.0
if sanity_check.any():
    print("Warning: The new DataFrame contains values greater than or equal to 1.0 in the Avg_Discount_Percent_On_Discounted_Items column.")
else:
    print("The new DataFrame contains only values less than 1.0 in the Avg_Discount_Percent_On_Discounted_Items column.")

The new DataFrame contains only values less than 1.0 in the Avg_Discount_Percent_On_Discounted_Items column.

In [19]:
df_grouped = df.groupby(['City', 'Mapped_Sales_Type', 'Mapped_Item_Code', 'Transaction_Date']).agg({'Quantity_Sold': 'sum', 'Median_Price': 'median', 'Effective_Price': 'median'})
print(df_grouped)

                                                             Quantity_Sold  \
City    Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Chennai Bakery            4057             2017-08-05                  110
                          9978             2018-01-22                  105
        Delivery          4055             2017-08-04                  377
                                           2017-08-05                  377
                                           2017-08-06                  638
...                                                                    ...
Mumbai  Take Away         4068             2017-01-09                  200
                                           2017-01-10                  199
                                           2017-01-11                  239
                                           2017-01-12                  233
                                           2017-01-13                  273

                                                             Median_Price  \
City    Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Chennai Bakery            4057             2017-08-05               223.0
                          9978             2018-01-22               178.0
        Delivery          4055             2017-08-04               260.0
                                           2017-08-05               260.0
                                           2017-08-06               260.0
...                                                                   ...
Mumbai  Take Away         4068             2017-01-09               405.0
                                           2017-01-10               405.0
                                           2017-01-11               405.0
                                           2017-01-12               405.0
                                           2017-01-13               405.0

                                                             Effective_Price
City    Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Chennai Bakery            4057             2017-08-05             221.000000
                          9978             2018-01-22             154.250000
        Delivery          4055             2017-08-04             264.113759
                                           2017-08-05             264.138571
                                           2017-08-06             264.223814
...                                                                      ...
Mumbai  Take Away         4068             2017-01-09             424.140000
                                           2017-01-10             424.140000
                                           2017-01-11             424.140000
                                           2017-01-12             424.140000
                                           2017-01-13             423.201358

[30231 rows x 3 columns]

In [20]:
df_effective_price_not_null = df[df['Effective_Price'].notnull()]
print(df_effective_price_not_null.tail(5))

         City Mapped_Sales_Type  Mapped_Item_Code Transaction_Date  \
30226  Mumbai         Take Away              4056       2016-08-01
30227  Mumbai         Take Away              4058       2016-08-01
30228  Mumbai           Dine-in               964       2016-08-01
30229  Mumbai         Take Away              4066       2016-08-01
30230  Mumbai          Delivery              4061       2016-08-01

       Quantity_Sold  Median_Price  Average_Tax_Percent  Effective_Price  \
30226            615         239.0                 0.14       232.033552
30227           1289         212.8                 0.14       202.575840
30228            140         933.0                 0.21      1063.855517
30229            179         501.0                 0.14       534.060000
30230            117         716.5                 0.15       780.810000

       Percent_Quantity_With_Discount  \
30226                        0.013889
30227                        0.009338
30228                             NaN
30229                             NaN
30230                             NaN

       Avg_Discount_Percent_On_Discounted_Items  ...  Day  Car_sales  \
30226                                  0.883279  ...  Mon    8033.92
30227                                  1.144999  ...  Mon    8033.92
30228                                       NaN  ...  Mon    8033.92
30229                                       NaN  ...  Mon    8033.92
30230                                       NaN  ...  Mon    8033.92

      F_and_B_Inflation  F_and_B_Inflation_Adjusted_Effective_Price  \
30226             140.1                                    1.342138
30227             140.1                                    1.131876
30228             140.1                                    7.279483
30229             140.1                                    3.497930
30230             140.1                                    5.259172

       F_and_B_Inflation_Adjusted_Median_Price  First_Week_Of_The_Month_Dummy  \
30226                                 1.184868                              1
30227                                 0.997859                              1
30228                                 6.138473                              1
30229                                 3.054961                              1
30230                                 4.593148                              1

       Last_Week_Of_The_Month_Dummy  Day_Of_The_Week_Seasonality  \
30226                             0                         0.78
30227                             0                         0.78
30228                             0                         0.77
30229                             0                         0.66
30230                             0                         0.61

       Month_Of_The_Year_Seasonality  Two_Wheeler_sales
30226                           0.99            27870.4
30227                           0.99            27870.4
30228                           0.94            27870.4
30229                           0.99            27870.4
30230                           0.89            27870.4

[5 rows x 22 columns]

In [21]:
df_chennai_delivery = df.loc[(df['City'] == 'Chennai') & (df['Mapped_Sales_Type'] == 'Delivery')]
print(df_chennai_delivery.head(5))

         City Mapped_Sales_Type  Mapped_Item_Code Transaction_Date  \
8379  Chennai          Delivery              4055       2018-02-05
8384  Chennai          Delivery              4068       2018-02-05
8387  Chennai          Delivery              4064       2018-02-05
8388  Chennai          Delivery              4058       2018-02-05
8392  Chennai          Delivery              4061       2018-02-05

      Quantity_Sold  Median_Price  Average_Tax_Percent  Effective_Price  \
8379            544        281.10                 0.05       262.502194
8384            129        566.43                 0.05       562.110000
8387            186        619.34                 0.05       617.659733
8388            287        259.19                 0.05       239.381307
8392            128        850.62                 0.05       855.697647

      Percent_Quantity_With_Discount  \
8379                             NaN
8384                             NaN
8387                             NaN
8388                        0.005682
8392                        0.058824

      Avg_Discount_Percent_On_Discounted_Items  ...  Day  Car_sales  \
8379                                       NaN  ...  Mon    6660.16
8384                                       NaN  ...  Mon    6660.16
8387                                       NaN  ...  Mon    6660.16
8388                                     0.105  ...  Mon    6660.16
8392                                     0.105  ...  Mon    6660.16

     F_and_B_Inflation  F_and_B_Inflation_Adjusted_Effective_Price  \
8379             139.9                                    1.561846
8384             139.9                                    3.703431
8387             139.9                                    4.100498
8388             139.9                                    1.396578
8392             139.9                                    5.801985

      F_and_B_Inflation_Adjusted_Median_Price  First_Week_Of_The_Month_Dummy  \
8379                                 1.487491                              1
8384                                 3.527019                              1
8387                                 3.905218                              1
8388                                 1.330879                              1
8392                                 5.558399                              1

      Last_Week_Of_The_Month_Dummy  Day_Of_The_Week_Seasonality  \
8379                             0                         0.71
8384                             0                         0.65
8387                             0                         0.61
8388                             0                         0.71
8392                             0                         0.61

      Month_Of_The_Year_Seasonality  Two_Wheeler_sales
8379                           1.13           30726.72
8384                           1.13           30726.72
8387                           1.13           30726.72
8388                           1.13           30726.72
8392                           1.13           30726.72

[5 rows x 22 columns]

In [22]:
df_mon_tue_wed = df[df['Day'].isin(['Mon', 'Tue', 'Wed'])]
print(df_mon_tue_wed)

            City Mapped_Sales_Type  Mapped_Item_Code Transaction_Date  \
0      Hyderabad         Take Away              9978       2018-07-31
1      Hyderabad         Take Away              4064       2018-07-31
2      Hyderabad         Main Hall               965       2018-07-31
3      Hyderabad           Express              9978       2018-07-31
4      Hyderabad           Express              1045       2018-07-31
...          ...               ...               ...              ...
30226     Mumbai         Take Away              4056       2016-08-01
30227     Mumbai         Take Away              4058       2016-08-01
30228     Mumbai           Dine-in               964       2016-08-01
30229     Mumbai         Take Away              4066       2016-08-01
30230     Mumbai          Delivery              4061       2016-08-01

       Quantity_Sold  Median_Price  Average_Tax_Percent  Effective_Price  \
0                167         187.0                 0.05       163.700000
1                368         602.0                 0.05       584.329105
2                694         263.0                 0.05       244.835163
3                140         263.0                 0.05       243.500000
4                139         392.0                 0.05       378.960000
...              ...           ...                  ...              ...
30226            615         239.0                 0.14       232.033552
30227           1289         212.8                 0.14       202.575840
30228            140         933.0                 0.21      1063.855517
30229            179         501.0                 0.14       534.060000
30230            117         716.5                 0.15       780.810000

       Percent_Quantity_With_Discount  \
0                                 NaN
1                            0.027237
2                                 NaN
3                                 NaN
4                                 NaN
...                               ...
30226                        0.013889
30227                        0.009338
30228                             NaN
30229                             NaN
30230                             NaN

       Avg_Discount_Percent_On_Discounted_Items  ...  Day  Car_sales  \
0                                           NaN  ...  Tue    7559.28
1                                      1.050000  ...  Tue    7559.28
2                                           NaN  ...  Tue    7559.28
3                                           NaN  ...  Tue    7559.28
4                                           NaN  ...  Tue    7559.28
...                                         ...  ...  ...        ...
30226                                  0.883279  ...  Mon    8033.92
30227                                  1.144999  ...  Mon    8033.92
30228                                       NaN  ...  Mon    8033.92
30229                                       NaN  ...  Mon    8033.92
30230                                       NaN  ...  Mon    8033.92

      F_and_B_Inflation  F_and_B_Inflation_Adjusted_Effective_Price  \
0                 143.7                                    0.832985
1                 143.7                                    3.760119
2                 143.7                                    1.397600
3                 143.7                                    1.388309
4                 143.7                                    2.330967
...                 ...                                         ...
30226             140.1                                    1.342138
30227             140.1                                    1.131876
30228             140.1                                    7.279483
30229             140.1                                    3.497930
30230             140.1                                    5.259172

       F_and_B_Inflation_Adjusted_Median_Price  First_Week_Of_The_Month_Dummy  \
0                                     0.793319                              0
1                                     3.681280                              0
2                                     1.322199                              0
3                                     1.322199                              0
4                                     2.219903                              0
...                                        ...                            ...
30226                                 1.184868                              1
30227                                 0.997859                              1
30228                                 6.138473                              1
30229                                 3.054961                              1
30230                                 4.593148                              1

       Last_Week_Of_The_Month_Dummy  Day_Of_The_Week_Seasonality  \
0                                 1                         0.86
1                                 1                         0.83
2                                 1                         1.08
3                                 1                         0.78
4                                 1                         0.73
...                             ...                          ...
30226                             0                         0.78
30227                             0                         0.78
30228                             0                         0.77
30229                             0                         0.66
30230                             0                         0.61

       Month_Of_The_Year_Seasonality  Two_Wheeler_sales
0                               0.91           37307.52
1                               0.91           37307.52
2                               1.08           37307.52
3                               0.08           37307.52
4                               0.08           37307.52
...                              ...                ...
30226                           0.99           27870.40
30227                           0.99           27870.40
30228                           0.94           27870.40
30229                           0.99           27870.40
30230                           0.89           27870.40

[12996 rows x 22 columns]

In [23]:
df_non_zero_discount = df.loc[df['Percent_Quantity_With_Discount'] != 0.0]
print(df_non_zero_discount)

            City Mapped_Sales_Type  Mapped_Item_Code Transaction_Date  \
0      Hyderabad         Take Away              9978       2018-07-31
1      Hyderabad         Take Away              4064       2018-07-31
2      Hyderabad         Main Hall               965       2018-07-31
3      Hyderabad           Express              9978       2018-07-31
4      Hyderabad           Express              1045       2018-07-31
...          ...               ...               ...              ...
30226     Mumbai         Take Away              4056       2016-08-01
30227     Mumbai         Take Away              4058       2016-08-01
30228     Mumbai           Dine-in               964       2016-08-01
30229     Mumbai         Take Away              4066       2016-08-01
30230     Mumbai          Delivery              4061       2016-08-01

       Quantity_Sold  Median_Price  Average_Tax_Percent  Effective_Price  \
0                167         187.0                 0.05       163.700000
1                368         602.0                 0.05       584.329105
2                694         263.0                 0.05       244.835163
3                140         263.0                 0.05       243.500000
4                139         392.0                 0.05       378.960000
...              ...           ...                  ...              ...
30226            615         239.0                 0.14       232.033552
30227           1289         212.8                 0.14       202.575840
30228            140         933.0                 0.21      1063.855517
30229            179         501.0                 0.14       534.060000
30230            117         716.5                 0.15       780.810000

       Percent_Quantity_With_Discount  \
0                                 NaN
1                            0.027237
2                                 NaN
3                                 NaN
4                                 NaN
...                               ...
30226                        0.013889
30227                        0.009338
30228                             NaN
30229                             NaN
30230                             NaN

       Avg_Discount_Percent_On_Discounted_Items  ...  Day  Car_sales  \
0                                           NaN  ...  Tue    7559.28
1                                      1.050000  ...  Tue    7559.28
2                                           NaN  ...  Tue    7559.28
3                                           NaN  ...  Tue    7559.28
4                                           NaN  ...  Tue    7559.28
...                                         ...  ...  ...        ...
30226                                  0.883279  ...  Mon    8033.92
30227                                  1.144999  ...  Mon    8033.92
30228                                       NaN  ...  Mon    8033.92
30229                                       NaN  ...  Mon    8033.92
30230                                       NaN  ...  Mon    8033.92

      F_and_B_Inflation  F_and_B_Inflation_Adjusted_Effective_Price  \
0                 143.7                                    0.832985
1                 143.7                                    3.760119
2                 143.7                                    1.397600
3                 143.7                                    1.388309
4                 143.7                                    2.330967
...                 ...                                         ...
30226             140.1                                    1.342138
30227             140.1                                    1.131876
30228             140.1                                    7.279483
30229             140.1                                    3.497930
30230             140.1                                    5.259172

       F_and_B_Inflation_Adjusted_Median_Price  First_Week_Of_The_Month_Dummy  \
0                                     0.793319                              0
1                                     3.681280                              0
2                                     1.322199                              0
3                                     1.322199                              0
4                                     2.219903                              0
...                                        ...                            ...
30226                                 1.184868                              1
30227                                 0.997859                              1
30228                                 6.138473                              1
30229                                 3.054961                              1
30230                                 4.593148                              1

       Last_Week_Of_The_Month_Dummy  Day_Of_The_Week_Seasonality  \
0                                 1                         0.86
1                                 1                         0.83
2                                 1                         1.08
3                                 1                         0.78
4                                 1                         0.73
...                             ...                          ...
30226                             0                         0.78
30227                             0                         0.78
30228                             0                         0.77
30229                             0                         0.66
30230                             0                         0.61

       Month_Of_The_Year_Seasonality  Two_Wheeler_sales
0                               0.91           37307.52
1                               0.91           37307.52
2                               1.08           37307.52
3                               0.08           37307.52
4                               0.08           37307.52
...                              ...                ...
30226                           0.99           27870.40
30227                           0.99           27870.40
30228                           0.94           27870.40
30229                           0.99           27870.40
30230                           0.89           27870.40

[30224 rows x 22 columns]

In [24]:
range_func = lambda x: 1 if x > 500 else 0.5
df['Range'] = df['Effective_Price'].apply(range_func)
print(df.head())

        City Mapped_Sales_Type  Mapped_Item_Code Transaction_Date  \
0  Hyderabad         Take Away              9978       2018-07-31
1  Hyderabad         Take Away              4064       2018-07-31
2  Hyderabad         Main Hall               965       2018-07-31
3  Hyderabad           Express              9978       2018-07-31
4  Hyderabad           Express              1045       2018-07-31

   Quantity_Sold  Median_Price  Average_Tax_Percent  Effective_Price  \
0            167         187.0                 0.05       163.700000
1            368         602.0                 0.05       584.329105
2            694         263.0                 0.05       244.835163
3            140         263.0                 0.05       243.500000
4            139         392.0                 0.05       378.960000

   Percent_Quantity_With_Discount  Avg_Discount_Percent_On_Discounted_Items  \
0                             NaN                                       NaN
1                        0.027237                                      1.05
2                             NaN                                       NaN
3                             NaN                                       NaN
4                             NaN                                       NaN

   ...  Car_sales  F_and_B_Inflation  \
0  ...    7559.28              143.7
1  ...    7559.28              143.7
2  ...    7559.28              143.7
3  ...    7559.28              143.7
4  ...    7559.28              143.7

  F_and_B_Inflation_Adjusted_Effective_Price  \
0                                   0.832985
1                                   3.760119
2                                   1.397600
3                                   1.388309
4                                   2.330967

   F_and_B_Inflation_Adjusted_Median_Price  First_Week_Of_The_Month_Dummy  \
0                                 0.793319                              0
1                                 3.681280                              0
2                                 1.322199                              0
3                                 1.322199                              0
4                                 2.219903                              0

   Last_Week_Of_The_Month_Dummy  Day_Of_The_Week_Seasonality  \
0                             1                         0.86
1                             1                         0.83
2                             1                         1.08
3                             1                         0.78
4                             1                         0.73

   Month_Of_The_Year_Seasonality  Two_Wheeler_sales  Range
0                           0.91           37307.52    0.5
1                           0.91           37307.52    1.0
2                           1.08           37307.52    0.5
3                           0.08           37307.52    0.5
4                           0.08           37307.52    0.5

[5 rows x 23 columns]

In [26]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
df['Percent_Quantity_With_Discount'] = imputer.fit_transform(df[['Percent_Quantity_With_Discount']])
print(df.head())

        City Mapped_Sales_Type  Mapped_Item_Code Transaction_Date  \
0  Hyderabad         Take Away              9978       2018-07-31
1  Hyderabad         Take Away              4064       2018-07-31
2  Hyderabad         Main Hall               965       2018-07-31
3  Hyderabad           Express              9978       2018-07-31
4  Hyderabad           Express              1045       2018-07-31

   Quantity_Sold  Median_Price  Average_Tax_Percent  Effective_Price  \
0            167         187.0                 0.05       163.700000
1            368         602.0                 0.05       584.329105
2            694         263.0                 0.05       244.835163
3            140         263.0                 0.05       243.500000
4            139         392.0                 0.05       378.960000

   Percent_Quantity_With_Discount  Avg_Discount_Percent_On_Discounted_Items  \
0                        0.098011                                       NaN
1                        0.027237                                      1.05
2                        0.098011                                       NaN
3                        0.098011                                       NaN
4                        0.098011                                       NaN

   ...  Car_sales  F_and_B_Inflation  \
0  ...    7559.28              143.7
1  ...    7559.28              143.7
2  ...    7559.28              143.7
3  ...    7559.28              143.7
4  ...    7559.28              143.7

  F_and_B_Inflation_Adjusted_Effective_Price  \
0                                   0.832985
1                                   3.760119
2                                   1.397600
3                                   1.388309
4                                   2.330967

   F_and_B_Inflation_Adjusted_Median_Price  First_Week_Of_The_Month_Dummy  \
0                                 0.793319                              0
1                                 3.681280                              0
2                                 1.322199                              0
3                                 1.322199                              0
4                                 2.219903                              0

   Last_Week_Of_The_Month_Dummy  Day_Of_The_Week_Seasonality  \
0                             1                         0.86
1                             1                         0.83
2                             1                         1.08
3                             1                         0.78
4                             1                         0.73

   Month_Of_The_Year_Seasonality  Two_Wheeler_sales  Range
0                           0.91           37307.52    0.5
1                           0.91           37307.52    1.0
2                           1.08           37307.52    0.5
3                           0.08           37307.52    0.5
4                           0.08           37307.52    0.5

[5 rows x 23 columns]